footer {
  margin-top: 20vh;
  height: 11vh;

  #footer {
    #footer-text {
      p {
        color: gray;
        span {
          color: #f7204b;
        }
      }
    }
    #icon {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;

      i {
        background-color: #000;
        color: #fff;
        padding: 12px;
        &:hover {
          transition: 0.7s;
          background-color: #f7204b;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    #footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #footer-text {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 60%;
      }
      #icon {
        column-gap: 47px;

        i {
          padding: 12px;
          margin: auto 0;
        }
      }
    }
  }
}
