.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 13px;
  height: 60vh;
  img {
    border-radius: 47%;
  }
  h1 {
    font-family: "Lobster", cursive;
  }
  i {
    color: gray;
    font-size: 17px;
  }
  button {
    padding: 8px 38px;
    border: 2px solid transparent;
    background-color: darkcyan;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    &:hover {
      background-color: #fff;
      color: rgb(61, 134, 110);
      border-color: aquamarine;
    }
  }
}
