#hero-banner {
  background-image: url("../image/server-banner\ \(2\).jpg");
  margin-top: 13vh;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;

  #special-offer {
    text-align: center;
    background-color: #fc6428;
    padding: 10px 39px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
  }

  .hero-texts {
    color: #fff;
    margin-left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11vh;
    row-gap: 7vh;
    font-family: "Poppins", sans-serif;
    h1 {
      font-size: 47px;
      font-weight: 600;
    }
    h3 {
      font-size: 30px;
      font-weight: 300;
    }
    .hero-text {
      margin: 20px auto;
      font-size: 17px;
    }
    .hero-icon {
      i {
        padding-right: 10px;
      }
    }
  }
}
