@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}
header nav #ul {
  display: flex;
  column-gap: 38px;
  align-items: center;
  margin: auto 0;
}
header nav #ul .a-tag {
  text-decoration: none;
  color: black;
}
header nav #ul .a-tag:hover {
  color: blue;
}
header nav #ul #dropdownMenuLink:hover {
  color: blue;
}
header nav #ul #dropdownMenuLink::after {
  display: none;
}
header nav .header-icon {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
header nav .header-icon i {
  font-size: 20px;
  color: rgb(84, 84, 205);
}
header nav .header-icon button {
  border: 1px solid grey;
  padding: 10px 39px;
  border-radius: 23px;
  font-weight: 600;
}
header nav .header-icon button:hover {
  transition: 1s;
  border-color: blue;
}

#hero-banner {
  margin-top: 14vh;
  position: relative;
}
#hero-banner #blue-color {
  height: 98vh;
  background-color: blue;
}
#hero-banner img {
  width: 28%;
  position: absolute;
  top: 12%;
  left: 15%;
}
#hero-banner #hero-text {
  background-color: hsl(190, 27%, 96%);
}
#hero-banner #hero-text .hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-left: 26vh;
}
#hero-banner #hero-text .hero-text h4 {
  color: grey;
}
#hero-banner #hero-text .hero-text h1 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
#hero-banner #hero-text .hero-text #hero-parag {
  width: 100%;
  display: flex;
}
#hero-banner #hero-text .hero-text #hero-parag p {
  color: gray;
  font-size: 18px;
}
#hero-banner #hero-text .hero-text button {
  background-color: rgb(48, 48, 219);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 12px 39px;
  font-weight: 500;
}
#hero-banner #hero-text .hero-text button:hover {
  background-color: transparent;
  border-color: rgb(35, 35, 223);
  color: black;
}

#dinamc-cards {
  margin-top: 14vh;
}
#dinamc-cards #card-text p {
  color: grey;
}
#dinamc-cards #card-text h2 {
  position: relative;
  font-weight: 700;
  font-size: 38px;
}
#dinamc-cards #card-text h2::after {
  position: absolute;
  content: "";
  height: 1.5px;
  background-color: blue;
  width: 34%;
  bottom: -20%;
  left: 41%;
}
#dinamc-cards #cards-dinamc #dinamc-card {
  display: flex;
  text-align: center;
  border: none;
  color: #000;
  row-gap: 7px;
  position: relative;
  transition: all 2s;
}
#dinamc-cards #cards-dinamc #dinamc-card:hover .card-hover {
  display: flex;
}
#dinamc-cards #cards-dinamc #dinamc-card:hover h4 {
  color: blue;
}
#dinamc-cards #cards-dinamc #dinamc-card .card-hover {
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  top: 29vh;
  width: 100%;
  height: 26%;
}
#dinamc-cards #cards-dinamc #dinamc-card .card-hover i {
  background-color: rgb(70, 123, 236);
  color: #fff;
  padding: 14px;
}
#dinamc-cards #cards-dinamc #dinamc-card p {
  color: grey;
}
#dinamc-cards #cards-dinamc #dinamc-card span {
  color: grey;
  font-weight: 700;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  #dinamc-cards #card-text h2::after {
    width: 28%;
    bottom: -20%;
    left: 33%;
  }
}

/*# sourceMappingURL=main.css.map */
