#add-edit {
  margin-top: 19vh;
  margin-bottom: 14vh;
  h1 {
    text-align: center;
    color: rgb(152, 225, 43);
    margin-bottom: 6vh;
  }
  #form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    form {
      width: 40%;
    }
  }
}
